$font-size: 16px;
$primary-color: blue !important;

body {
    min-height: 100vh;
    height: 100%;
}

html {
    font-size: $font-size;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}