.header {
  &__navbar {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: red;
  }

  &__navbar-container {
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__mobile {
    &-button {
      height: 40px;
      position: absolute;
      top: 5px;
      right: 10px;
      background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-span {
      &-wrapper {
        position: relative;
      }

      display: block;
      height: 2px;
      background-color: #282828;
      width: 30px;

      &--one {
      }

      &--two {

      }

      &--three {
      }

    }
  }


  &__links-wrapper {
    position: absolute;
    bottom: rem-calc(-50px);
    left: 0;
    background-color: $white;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__account-links {
    display: flex;
    flex-direction: column;
  }
}