<div class="slider-loader">
    <div class="slider-loader__background-title-wrapper">
        <div class="container">
            <h2 class="slider-loader__title row">NazwaFirmy - twoje najlepsze ogłoszenia bla bla</h2>
        </div>
    </div>
    <div class="slider-loader__background-list-wrapper">
        <div class="container">
            <ul class="slider-loader__list row">
                <li class="slider-loader__list-item">CosTam</li>
                <li class="slider-loader__list-item">CosTam</li>
                <li class="slider-loader__list-item">CosTam</li>
                <li class="slider-loader__list-item">CosTam</li>
                <li class="slider-loader__list-item">CosTam</li>
            </ul>
        </div>
    </div>
</div>
