<div class="loader-slide">
    <div class="background-image__title-wrapper row">
        <div class="container">
            <h2 class="background-image__title">NazwaFirmy - twoje najlepsze ogłoszenia bla bla</h2>
        </div>
    </div>
    <div class="loader-slide__list-wrapper">
        <ul class="background-image__list">
            <li class=" background-image__list-item">CosTam</li>
            <li class="background-image__list-item">CosTam</li>
            <li class="background-image__list-item">CosTam</li>
            <li class="background-image__list-item">CosTam</li>
            <li class="background-image__list-item">CosTam</li>
        </ul>
    </div>
</div>
