{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('registration/style') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('registration/script') }}
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    {% include 'form/registration.html.twig' %}
{% endblock %}
