{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('announcements-list/style') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('announcements-list/script') }}
{% endblock %}


{% block title %}Hello AnnouncementController!{% endblock %}

{% block body %}
    <h1>TO JEST SHOW !!!!</h1>
{% endblock %}
