{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login/style') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login/script') }}
{% endblock %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {% if error %}
        <h1>{{ error.messageKey | trans(error.messageData, 'security') }}</h1>

    {% endif %}

    {% include '@sections/login.html.twig' %}
{% endblock %}
