{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('announcements-favorite/style') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('announcements-favorite/script') }}
{% endblock %}


{% block title %}Hello AnnouncementController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2">
                {% include '@molecules/sidebar_menu.html.twig' %}
            </div>
            <div class="col-10">
                {% include '@sections/list.html.twig' with {
                    'data': announcements,
                    'paginationFilters': [],
                } %}
            </div>
        </div>
    </div>
{% endblock %}
