{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user-account/style') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-account/script') }}
{% endblock %}


{% block title %}Hello AnnouncementController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    {% include '@molecules/sidebar-menu.html.twig' %}
                </div>
                <div class="col-12 col-md-3">
                    <div class="col-12">
                        <a href="{{ path('announcement_add') }}" class="">
                            Dodaj ogłoszenie
                        </a>
                    </div>
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
