<div class="card">
    <img src="{{ asset('assets/images/homepage/make-a-phone-call-640.jpg') }}" class="card-img-top card__img" alt="...">
    <h5 class="card__title">Card title</h5>
    <p class="card__text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    <p class="card__info"><span></span>Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
</div>