<div class="">
    <ul class="">
        <li>
            <a href="#" class="nav-link">
                Twoje Dane
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Wystawione Ogłoszenia
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Ulubione ogłoszenia
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Wiadomości
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                Usuń konto
            </a>
        </li>
    </ul>
</div>