<div>
    <ul class="d-flex justify-content-around">
        <li>
            <a href="{{ path('mailer_email_change') }}" class="nav-link">
                Zmień email
            </a>
        </li>
        <li>
            <a href="{{ path('mailer_password_change') }}" class="nav-link">
                Zmień hasło
            </a>
        </li>
        <li>
            <a href="{{ path('mailer_account_delete') }}" class="nav-link">
                Usuń konto
            </a>
        </li>
    </ul>
</div>