<div class="select select-conditions flex-grow-1">
    <select data-select id="select-conditions" name="select-conditions">
        <option>amazing</option>
        <option>awesome</option>
        <option>cool</option>
        <option>excellent</option>
        <option>great</option>
        <option>neat</option>
        <option>superb</option>
        <option>wonderful</option>
    </select>
    <label for="select-conditions" class="select__label">Categories</label>
</div>
