<div class="select select-sorting flex-grow-1">
    <select data-select id="select-sorting" name="select-sorting">
        <option>amazing</option>
        <option>awesome</option>
        <option>cool</option>
        <option>excellent</option>
        <option>great</option>
        <option>neat</option>
        <option>superb</option>
        <option>wonderful</option>
    </select>
    <label for="select-sorting" class="select__label">Sortuj</label>
</div>

