<div class="select select-categories flex-grow-1">
    <select data-select id="select-categories" name="select-categories" multiple>
        <option>amazing</option>
        <option>awesome</option>
        <option>cool</option>
        <option>excellent</option>
        <option>great</option>
        <option>neat</option>
        <option>superb</option>
        <option>wonderful</option>
    </select>
    <label for="select-categories" class="select__label">Categories</label>
</div>

