<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirm Account Deletion</title>
</head>
<body>
<h1>Confirm Account Deletion</h1>
<p>Click on the link below to confirm the deletion of your account:</p>
<a href="{{ url('app_delete_confirm', {token: deleteToken}) }}">Confirm deletion</a>
</body>
</html>