$font-size: 16px;
$primary-color: blue !important;

body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body.scroll-disabled {
    overflow: hidden;
}

html {
    font-size: $font-size;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: unset;
}

a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: none;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input:focus  {
    outline: none;
}