<div class="range flex-grow-1">
    <div class="range__price-wrapper range__price-wrapper--min">
        <input class="range__price-input" type="number" id="min-price" name="min-price" placeholder=" "/>
        <label for="min-price" class="range__price-label">Cena minimalna</label>
        <span class="range__price-icon"></span>
    </div>
    <div class="range__price-wrapper range__price-wrapper--max">
        <input class="range__price-input" type="number" id="max-price" name="max-price" placeholder=" "/>
        <label for="max-price" class="range__price-label">Cena maksymalna</label>
        <span class="range__price-icon"></span>
    </div>
</div>