    <div class="range flex-grow-1">
    <div class="range__price-wrapper range__price-wrapper--min">
        <input class="range__price-input" type="number" id="min_price" name="min_price" placeholder=" " value="{{ min_price }}"/>
        <label for="min_price" class="range__price-label">Cena minimalna</label>
        <span class="range__price-icon"></span>
    </div>
    <div class="range__price-wrapper range__price-wrapper--max">
        <input class="range__price-input" type="number" id="max_price" name="max_price" placeholder=" " value="{{ max_price }}"/>
        <label for="max_price" class="range__price-label">Cena maksymalna</label>
        <span class="range__price-icon"></span>
    </div>
</div>