{% extends 'base.html.twig' %}

    {% block title %}Log in!{% endblock %}

        {% block body %}
            <div>
                <h1>TO JEST HOMEPAGE</h1>
            </div>
            <div>
                <a href="{{ path('app_login') }}">Login</a>
            </div>
        {% endblock %}
