<section class="announcement-description">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>{{ description }}</div>
            </div>
        </div>
    </div>
</section>
