<section class="announcements-filters">
    <div class="container">
        <div class="announcements-filters__advanced-filters d-md-flex justify-content-around align-items-center flex-wrap">
            <form action="{{ path('announcement_index') }}" method="GET" enctype="multipart/form-data"
                  novalidate>
                {% include '@atoms/searching.html.twig' %}

                {% include '@atoms/input-number.twig' %}

                {% include '@atoms/select.html.twig' with {
                    'label': 'Sorting',
                    'options': ['amazing', 'awesome', 'cool', 'excellent', 'great', 'neat', 'superb', 'wonderful'],
                    'id': 'sorting',
                    'name': 'sorting',
                    'classes': 'sorting flex-grow-1',
                } %}
                {% include '@atoms/select.html.twig' with {
                    'label': 'Conditions',
                    'options': ['amazing', 'awesome', 'cool', 'excellent', 'great', 'neat', 'superb', 'wonderful'],
                    'id': 'conditionType',
                    'name': 'conditionType',
                    'classes': 'conditions flex-grow-1',
                } %}
                {% include '@atoms/select.html.twig' with {
                    'label': 'Categories',
                    'options': ['amazing', 'awesome', 'cool', 'excellent', 'great', 'neat', 'superb', 'wonderful'],
                    'id': 'categories',
                    'name': 'categories',
                    'classes': 'categories flex-grow-1',
                    'multiple': true
                } %}
                <input type="hidden" name="page" value="{{ page }}"/>
                <button type="submit">SZUKAJ</button>
            </form>
        </div>
    </div>
</section>
