<section class="list">
    <div class="list__container container">
        {% for card in cards.data %}
            <div class="list__item">
                {% include '@molecules/card.html.twig' with {'card': card} %}
            </div>
        {% endfor %}

        {% set path = 'announcement_index' %}
        {% set pages = cards.pages %}
        {% set currentPage = cards.page %}
    </div>
    {% include "@molecules/pagination.html.twig" %}

</section>
