<section class="list">
    <div class="list__container container">
        {% for item in data.items %}
            {% set isFavorite = item in favorites %}
            <div class="list__item">
                {% include '@molecules/card.html.twig' with {'card': item, 'isFavorite': isFavorite} %}
            </div>
        {% endfor %}

        {% set path = 'announcement_index' %}
        {% set pages = data.pages %}
        {% set currentPage = data.page %}
        {% set paginationFilters = paginationFilters %}
    </div>
    {% include "@molecules/pagination.html.twig" %}

</section>
