{% set cards = [
    {
        'image': '/images/ogloszenie1.jpg',
        'title': 'Ogłoszenie 1',
        'description': 'To jest pierwsze ogłoszenie',
        'link': '/ogloszenie/1',
    },
    {
        'image': '/images/ogloszenie2.jpg',
        'title': 'Ogłoszenie 2',
        'description': 'To jest drugie ogłoszenie',
        'link': '/ogloszenie/2',
    },
    {
        'image': '/images/ogloszenie3.jpg',
        'title': 'Ogłoszenie 3',
        'description': 'To jest trzecie ogłoszenie',
        'link': '/ogloszenie/3',
    },
    {
        'image': '/images/ogloszenie1.jpg',
        'title': 'Ogłoszenie 1',
        'description': 'To jest pierwsze ogłoszenie',
        'link': '/ogloszenie/1',
    },
    {
        'image': '/images/ogloszenie2.jpg',
        'title': 'Ogłoszenie 2',
        'description': 'To jest drugie ogłoszenie',
        'link': '/ogloszenie/2',
    },
    {
        'image': '/images/ogloszenie3.jpg',
        'title': 'Ogłoszenie 3',
        'description': 'To jest trzecie ogłoszenie',
        'link': '/ogloszenie/3',
    },
    {
        'image': '/images/ogloszenie1.jpg',
        'title': 'Ogłoszenie 1',
        'description': 'To jest pierwsze ogłoszenie',
        'link': '/ogloszenie/1',
    },
    {
        'image': '/images/ogloszenie2.jpg',
        'title': 'Ogłoszenie 2',
        'description': 'To jest drugie ogłoszenie',
        'link': '/ogloszenie/2',
    },
    {
        'image': '/images/ogloszenie3.jpg',
        'title': 'Ogłoszenie 3',
        'description': 'To jest trzecie ogłoszenie',
        'link': '/ogloszenie/3',
    },
    {
        'image': '/images/ogloszenie1.jpg',
        'title': 'Ogłoszenie 1',
        'description': 'To jest pierwsze ogłoszenie',
        'link': '/ogloszenie/1',
    },
    {
        'image': '/images/ogloszenie2.jpg',
        'title': 'Ogłoszenie 2',
        'description': 'To jest drugie ogłoszenie',
        'link': '/ogloszenie/2',
    },
    {
        'image': '/images/ogloszenie3.jpg',
        'title': 'Ogłoszenie 3',
        'description': 'To jest trzecie ogłoszenie',
        'link': '/ogloszenie/3',
    },
    {
        'image': '/images/ogloszenie1.jpg',
        'title': 'Ogłoszenie 1',
        'description': 'To jest pierwsze ogłoszenie',
        'link': '/ogloszenie/1',
    },
    {
        'image': '/images/ogloszenie2.jpg',
        'title': 'Ogłoszenie 2',
        'description': 'To jest drugie ogłoszenie',
        'link': '/ogloszenie/2',
    },
    {
        'image': '/images/ogloszenie3.jpg',
        'title': 'Ogłoszenie 3',
        'description': 'To jest trzecie ogłoszenie',
        'link': '/ogloszenie/3',
    },
    {
        'image': '/images/ogloszenie1.jpg',
        'title': 'Ogłoszenie 1',
        'description': 'To jest pierwsze ogłoszenie',
        'link': '/ogloszenie/1',
    },
    {
        'image': '/images/ogloszenie2.jpg',
        'title': 'Ogłoszenie 2',
        'description': 'To jest drugie ogłoszenie',
        'link': '/ogloszenie/2',
    },
    {
        'image': '/images/ogloszenie3.jpg',
        'title': 'Ogłoszenie 3',
        'description': 'To jest trzecie ogłoszenie',
        'link': '/ogloszenie/3',
    },
] %}

<section class="list">
    <div class="container">
        {% for card in cards %}
            <div class="list__item">
                {% include '@molecules/card.html.twig' with card %}
            </div>
        {% endfor %}
    </div>
</section>
