/** Global styles: variables/fonts/global modules */
@import "../app.scss";

/** Announcement Partials */
.header {
  &__navbar {
    background-color: #EAC6B7;
  }

  &__navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navbar-brand {
    font-size: rem-calc(36px);
  }


  &__mobile {
    &-button {
      width: auto;
      height: rem-calc(40px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem-calc(10px);
      border-radius: rem-calc(10px);
      border: 2px solid transparent;
      transition: border .15s linear;

      @include media-breakpoint-up(md) {
        display: none;
      }

      &-text {
        margin-left: 10px;
        display: block;
        transition: color .15s linear;
      }
    }

    &-span {
      &-wrapper {
        position: relative;
        width: rem-calc(20px);
        height: rem-calc(14px);
      }

      display: block;
      height: 2px;
      width: 100%;
      background-color: $white;

      &--one {
        position: absolute;
        top: 0;
        transition: transform .15s linear, top .12s .2s linear;
      }

      &--two {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 100%;
        transition: opacity 0s .18s;
      }

      &--three {
        position: absolute;
        bottom: 0;
        transition: transform .15s linear, bottom .12s .2s linear;
      }
    }
  }

  &__links-wrapper {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #EAC6B7;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    padding: rem-calc(80px) rem-calc(10px) rem-calc(20px);
    transition: left .3s .1s cubic-bezier(0.77, 0.2, 0.05, 1);
    color: #EAC6B7;


    @include media-breakpoint-up(md) {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      background-color: transparent;
      color: $white;
      z-index: 10;

      .container {
        display: flex;
      }
    }
  }

  &__links-account {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__link-item {
    @include media-breakpoint-up(md) {
      border-radius: rem-calc(5px);
      border: 2px solid $white;
      margin-left: 10px;

      &--homepage {
        display: none;
      }
    }
  }

  &__link {
    width: 100%;
    padding: rem-calc(10px) rem-calc(5px);
    text-align: center;
    background-color: $white;
    margin: rem-calc(15px) 0;
    font-weight: bold;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      color: $white;
      background-color: unset;
      width: auto;
      margin: 0;
      padding: rem-calc(5px);
    }
  }

  //  SHOW MENU
  &__navbar--active {
    .header {
      &__links-wrapper {
        left: 0;
      }

      &__mobile {
        &-button {
          border: 2px solid $white;
        }

        &-span {
          &--one {
            top: 6px;
            transform: rotate(45deg);
            transition: top .12s linear, transform .15s .2s linear;
          }

          &--two {
            opacity: 0;
            transition: opacity 0s .14s;
          }

          &--three {
            bottom: 6px;
            transform: rotate(-45deg);
            transition: bottom .12s linear, transform .15s .2s linear;
          }
        }
      }
    }
  }
}