<section class="announcements-filters">
    {% include 'announcement/partials/searching.html.twig' %}
    {% include 'announcement/partials/range.html.twig' %}
    {% include 'announcement/partials/select.html.twig' %}
</section>