<section class="announcements-filters">
    <div>
        <img class="announcements-filters__gif" src="{{ asset('assets/gifs/announcement-header.gif') }}"
             alt="Posibilities" loading="lazy" decoding="async">
    </div>
    <div class="container">
        {% include 'announcement/partials/searching.html.twig' %}
        <div class="announcements-filters__advanced-filters d-md-flex justify-content-around align-items-center flex-wrap">
            {% include 'announcement/partials/range.html.twig' %}
            {% include 'announcement/partials/select-sorting.html.twig' %}
            {% include 'announcement/partials/select-conditions.html.twig' %}
            {% include 'announcement/partials/select-categories.html.twig' %}
        </div>
    </div>
</section>